// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

form {
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items: flex-start;
    padding: 1rem;
    .form-content {
        padding: 1rem 0.4rem;
        // height: 10rem;
        width: 100%;

        // display: flex;
        .form-group {
            display: flex;
            align-items: center;
        }
    }
}
.form-content-2 {
    padding: 1rem 0.4rem;
    width: 100%;
    display: fle;
    .form-group {
        display: flex;
        align-items: center;
        width: 15rem;
    }
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .btn {
            position: relative;
            right: 13px;
            width: 5rem;
        }
    }
}
.btn {
    height: 3rem;
}
